<div class="w-full flex justify-center py-3 bg-gray-900">
	<div class="w-10/12 p-2">
		<div class="w-full flex items-center justify-between">
			<p class="text-4xl font-extrabold dark:text-white">My Notes</p>
			<div class="flex gap-4 justify-self-end">
				<mat-form-field>
					<mat-label>Search by title</mat-label>
					<mat-icon matSuffix>search</mat-icon>
					<input
						type="text"
						style="color: white"
						matInput
						placeholder="Sample note"
						(change)="handleSearchWordChange($event)"
					/>
				</mat-form-field>
			</div>
		</div>
		<div class="grid grid-cols-3 gap-4">
			<ng-container *ngFor="let note of userNotes$ | async">
				<app-note [note]="note"></app-note>
			</ng-container>
		</div>
	</div>
</div>
