<div
	class="relative flex flex-col text-gray-700 bg-white shadow-md w-96 rounded-xl bg-clip-border hover:bg-gray-200 hover:scale-105 transition-all"
>
	<div class="px-6 pt-2">
		<p class="text-lg font-semibold text-blue-gray-900">Wykład 4</p>
		<div class="grid grid-cols-3 gap-1">
			<ng-container *ngFor="let i of [1, 2]">
				<button class="bg-blue-500 border-1 rounded-full py-1">
					<span class="text-xs"> Ochrona danych</span>
				</button>
			</ng-container>
		</div>
		<p
			class="font-sans text-base font-light leading-relaxed text-inherit max-h-56 text-clip overflow-hidden ..."
		>
			Algorytm AES zostały wyłoniony w konkursie na najlepszy algorytm haszujący - algorytm ma
			długiści bloków 128 bitów, natomiast długość kluczy to 128, 192 oraz 256 bitów. Ma dwa razy
			większą długość bloku niż inne algorytmy, które działały - daje nam możliwość wydłużenia
			klucza, ale w określonych ramach. Opiera się na macierzy 4x Algorytm AES zostały wyłoniony w
			konkursie na najlepszy algorytm haszujący - algorytm ma długiści bloków 128 bitów, natomiast
			długość kluczy to 128, 192 oraz 256 bitów. Ma dwa razy większą długość bloku niż inne
			algorytmy, które działały - d
		</p>
	</div>
	<div class="px-6 py-1 flex justify-evenly">
		<button
      (click) = "openNoteReadDialog()"
			class="bg-pink-700 hover:bg-pink-600 transition-all border-1 rounded-2xl py-2 px-4 text-white"
		>
			Read more
		</button>
		<button
			class="bg-red-900 hover:bg-red-800 transition-all border-1 rounded-2xl py-2 px-4 text-white"
      (click)="openDeleteDialog()"
		>
			Delete
		</button>
	</div>
</div>
