<div class="flex justify-between items-center">
	<h2 mat-dialog-title>Profile information</h2>
	<button mat-icon-button mat-dialog-close color="warn">
		<mat-icon>close</mat-icon>
	</button>
</div>
<mat-dialog-content>
	<div class="flex items-center justify-center">
		<div class="px-4 pt-4">
			<p>
				<em class="text-blue-400">const</em>
				<span class="text-green-400"> profileInformation</span>
				<span class="text-pink-500">=</span> <em class="text-blue-400">function</em>() {{ '{' }}
			</p>
			<p>&nbsp;&nbsp;<span class="text-pink-500">return</span> {{ '(' }}</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;email:
				<span class="text-yellow-300">'{{ profile.email }}'</span>,
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;name:
				<span class="text-yellow-300">'{{ profile.name }}'</span>,
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;username:
				<span class="text-yellow-300">'{{ profile.username }}'</span>,
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;numberOfNotes:
				<span class="text-yellow-300">'{{ profile.numberOfNotes }}'</span>,
			</p>
			<p>&nbsp;&nbsp;}</p>
			<p>)</p>
		</div>
	</div>
</mat-dialog-content>
