<div
	class="relative flex flex-col text-gray-700 bg-white shadow-md w-96 rounded-xl bg-clip-border hover:bg-gray-200 hover:scale-105 transition-all"
>
	<div class="px-6 pt-2">
		<p class="text-lg font-semibold text-blue-gray-900">{{ note.title }}</p>
		<p
			class="font-sans text-base font-light leading-relaxed text-inherit max-h-56 text-clip overflow-hidden ..."
		>
			{{ note.content }}
		</p>
	</div>
	<div class="flex justify-between px-6 py-1 items-center">
		<span class="text-blue-500 font-semibold text-lg">{{
			note.modificationDate | date : 'yyyy-MM-dd'
		}}</span>
		<div class="flex gap-2">
			<button
				(click)="openNoteReadDialog()"
				class="bg-pink-700 hover:bg-pink-600 transition-all border-1 rounded-2xl py-2 px-4 text-white"
			>
				Read more
			</button>
			<button
				class="bg-red-900 hover:bg-red-800 transition-all border-1 rounded-2xl py-2 px-4 text-white"
				(click)="openDeleteDialog()"
			>
				Delete
			</button>
		</div>
	</div>
</div>
