<div class="flex items-center justify-between">
	<p class="text-2xl font-extrabold text-white">Wykład 4</p>
	<div class="flex gap-1">
		<button mat-icon-button mat-dialog-close color="warn">
			<mat-icon>close</mat-icon>
		</button>
		<button mat-icon-button mat-dialog-close color="primary">
			<mat-icon>edit</mat-icon>
		</button>
	</div>
</div>
<div class="px-6 pt-4 pb-2 flex justify-center">
	<span
		class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
		>#photography</span
	>
	<span
		class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
		>#travel</span
	>
	<span
		class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
		>#winter</span
	>
</div>
<div class="rounded overflow-hidden shadow-lg">
	<div class="px-6 py-2">
		<p class="text-gray-200 text-base text-center">
			Algorytm AES zostały wyłoniony w konkursie na najlepszy algorytm haszujący - algorytm ma
			długiści bloków 128 bitów, natomiast długość kluczy to 128, 192 oraz 256 bitów. Ma dwa razy
			większą długość bloku niż inne algorytmy, które działały - daje nam możliwość wydłużenia
			klucza, ale w określonych ramach. Opiera się na macierzy 4x Algorytm AES zostały wyłoniony w
			konkursie na najlepszy algorytm haszujący - algorytm ma długiści bloków 128 bitów, natomiast
			długość kluczy to 128, 192 oraz 256 bitów. Ma dwa razy większą długość bloku niż inne
			algorytmy, które działały - d
		</p>
	</div>
</div>
