<div class="flex justify-between items-center">
	<h2 mat-dialog-title>Creating new note</h2>
	<button mat-icon-button mat-dialog-close color="warn">
		<mat-icon>close</mat-icon>
	</button>
</div>
<mat-dialog-content>
	<div class="w-11/2 flex justify-center">
		<div class="w-full">
			<div class="my-1">
				<label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
					>Note's title</label
				>
				<input
					type="text"
					id="title"
					class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
					placeholder="Some title"
					required
				/>
			</div>
			<label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
				>Note content</label
			>
			<textarea
				id="message"
				rows="11"
				class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				placeholder="Write your thoughts here..."
			></textarea>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button
		(click)="saveNewNote()"
		class="bg-purple-700 hover:bg-purple-500 transition-all border-1 rounded-2xl py-1 w-full"
	>
		<span class="text-white font-semibold text-xl">Create</span>
	</button>
</mat-dialog-actions>
