<div class="flex justify-between items-center">
	<h2 mat-dialog-title>Contact us</h2>
	<button mat-icon-button mat-dialog-close color="warn">
		<mat-icon>close</mat-icon>
	</button>
</div>
<mat-dialog-content>
	<p class="tracking-tighter text-gray-200 md:text-lg text-center">
		Feel free to get in touch with us for any inquiries or support:
	</p>
	<div class="flex gap-2 justify-center">
		<mat-icon>email</mat-icon>
		<a class="tracking-tighter text-gray-200 md:text-lg text-center">
			adrian.nowosielski1@gmail.com
		</a>
	</div>
	<div class="flex gap-2 justify-center">
		<mat-icon>phone</mat-icon>
		<a class="tracking-tighter text-gray-200 md:text-lg text-center"> +48 728-221-243 </a>
	</div>
	<div class="flex gap-2 justify-center">
		<mat-icon>home</mat-icon>
		<a class="tracking-tighter text-gray-200 md:text-lg text-center"> Warsaw </a>
	</div>
</mat-dialog-content>
